body{
	overflow-x:hidden;
	margin: 0px;
}
.meniu{
	position: fixed;
	/*background-color: #222;*/
	top: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 15px;
}
.meniu-in-jos{
	background-color: #222;
	font-size: 20px;
}
.mesaj-bun-venit{
	display: none;
	font:30px 'Stylus BT';
	color:#FFC300;
	text-align: left;
	float: left;
    height: 35px;
}
.logo-home{
	width: 25px;
	height: 25px;
	text-align: left;
	margin-left: 1%;
}
.meniu-variante{
	height: 30px;
	text-align: right;
	width: 100%;
	color:orange;
}
.meniu .a{
	color:#CAC1A7;
	background-color:transparent;
	text-decoration:none;
}
.meniu .a:hover{
	background-color:#F8BA08;
	padding: 4px;
	color: #fff;
	border-radius: 10px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.meniu .a:active{
	color:#564F3E;
	-moz-box-shadow: 0 1px 4px white inset;
    -webkit-box-shadow: 0 1px 4px white inset;
    box-shadow: 0 1px 4px white inset;  
}
.logo-home:hover{
	background-color:#F5DB9E;
	padding: 0px;
	border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.logo-home:active{
	background-color:grey;
}
@media (max-width:540px){
	.meniu{
		height: 60px;
	}

}

/*-----------home---------------*/
.home{
	height: 700px;
	width: 100%;
	background-image:url(./../Images/start.jpg);
	background-attachment:scroll;
	background-position:center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	-o-background-size:cover;
	text-align:center;
	color:#fff;
}
.home-bine-ati-venit{
	padding-top: 130px;
	font-size: 60px;
	font-family: 'Chaparral Pro Light';
	font-style: italic;
	font-weight: bold;
}
.home-text1{
	padding-top: 80px;
	font-family: 'Arabic Typesetting';
	font-size:40px;
}
.home-text2{
	padding-top: 50px;
	font-family: 'Arabic Typesetting';
	font-size:70px;
	font-weight: bold;
	padding-bottom: 40px;
}
.home-buton{
	border-radius: 6px;
	color: #433F36;
	background-color: #FFC300;
	border-width: 2px;
	border-color: grey;
	font-size: 25px;
	font-family: 'Arabic Typesetting';
	cursor:pointer;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F6B22B), to(#F6B22B));
    background-image: -webkit-linear-gradient(top, #F8D082, #F6B22B);
    background-image: -moz-linear-gradient(top, #F8D082, #F6B22B);
    background-image: -ms-linear-gradient(top, #F8D082, #F6B22B);
    background-image: -o-linear-gradient(top, #F8D082, #F6B22B);
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    border-width: 1px;
    border-style: solid;
    border-color: #FF8D00;
}
.home-buton:hover{
 	background-image: -webkit-gradient(linear, left top, left bottom, from(#FADF98), to(#F7D272));
	background-image: -webkit-linear-gradient(top, #FADF98, #F7D272);
  	background-image: -moz-linear-gradient(top, #FADF98, #F7D272);
  	background-image: -ms-linear-gradient(top, #FADF98, #F7D272);
  	background-image: -o-linear-gradient(top, #FADF98, #F7D272);
}
.home-buton:active{
	outline: none;
    border: 1px solid grey;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 1) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1) inset;  
}
@media (max-width:800px){
	.home-text2{
		font-size:40px;
	}
	.home-text1{
		font-size: 35px;
	}
}
@media (max-width:450px){
	.home-text2{
		font-size:30px;
	}
	.home-text1{
		font-size: 25px;
	}
}
@media (max-width:380px){
	.home-bine-ati-venit{
		font-size: 40px;
	}
	.home-text2{
		font-size:25px;
		padding-left: 5px;
		padding-right: 5px;
	}
	.home-text1{
		font-size: 20px;
		padding-left: 5px;
		padding-right: 5px;
	}
}

/*---------------servicii-----------*/
#servicii-id:focus{
	background-color: red;
}
.servicii{
	height: 700px;
	width: 100%;
	padding-top: 100px;
	margin:0px;
}
.servicii-titlu{
	font-size: 60px;
	font-family: 'Chaparral Pro Light';
	font-weight: bold;
	color:#433F36;
	text-align: center;
	padding-bottom: 20px;
}
.servicii-subtitlu{
	padding-bottom: 50px;
	font-family: 'Arabic Typesetting';
	font-size:40px;
	color:#6E6552;
	text-align: center;
}
.servicii-imagine-siguranta{
	border-radius: 50%;
	width: 150px;
	height: 150px;
	border:7px solid #DEAA43;
}
.servicii-siguranta:hover img{
	width: 180px;
	height: 180px;
}
.servicii-siguranta:hover div{
	background-color: #F3F0EA;
	border-radius: 10px;
}
.servicii-siguranta{
	width: 30%;
	height: 200px;
	text-align: center;
	float: left;
	margin:2%;
	margin-left: 3%;
	font-family: 'Arabic Typesetting';
	font-size:25px;
	color:#6E6552;
}
.servicii-imagine-locatie{
	border-radius: 50%;
	width: 150px;
	height: 150px;
	border:7px solid #DEAA43;
}
.servicii-locatie{
	width: 30%;
	height: 200px;
	text-align: center;
	float: left;
	margin:2% 2% 2% 0%;
	font-family: 'Arabic Typesetting';
	font-size:25px;
	color:#6E6552;
}
.servicii-locatie:hover img{
	width: 180px;
	height: 180px;
}
.servicii-locatie:hover div{
	background-color: #F3F0EA;
	border-radius: 10px;
}
.servicii-imagine-ochi{
	border-radius: 50%;
	width: 150px;
	height: 150px;
	border:7px solid #DEAA43;
}
.servicii-ochi{
	width: 30%;
	height: 200px;
	text-align: center;
	float: left;
	margin: 2% 3% 2% 0%;
	font-family: 'Arabic Typesetting';
	font-size:25px;
	color:#6E6552;
}
.servicii-ochi:hover img{
	width: 180px;
	height: 180px;
}
.servicii-ochi:hover div{
	background-color: #F3F0EA;
	border-radius: 10px;
}
@media (max-width:800px){
	.servicii{
		height: 1050px;
	}
	.servicii-siguranta{
		float:none;
		margin-left: 35%;
		margin-bottom: 80px;
	}
	.servicii-locatie{
		float: none;
		margin-left: 35%;
		margin-bottom: 80px;
	}
	.servicii-ochi{
		float:none;
		margin-left: 35%;
		margin-bottom: 80px;
	}
}
@media (max-width:450px){
	.servicii-titlu{
		font-size: 40px;
	}
	.servicii-subtitlu{
		font-size: 30px;
	}
	.servicii{
		height: 1000px;
	}
	.servicii-imagine-siguranta,.servicii-imagine-locatie,.servicii-imagine-ochi{
		width: 80px;
		height: 80px;
	}
	.servicii-siguranta:hover img{
		width: 90px;
		height: 90px;
	}
	.servicii-locatie:hover img{
		width: 90px;
		height: 90px;
	}
	.servicii-ochi:hover img{
		width: 90px;
		height: 90px;
	}
	.servicii-titlu{
		font-size: 35px;
	}

}

/*-------despre-----------*/
.despre{
	background-color: #F3F0EA;
	height: auto;
	width: 100%;
	padding-top: 70px;
	margin:0px;
	text-align: center;
	padding-bottom: 30px;
}
.despre-titlu{
	font-size: 60px;
	font-family: 'Chaparral Pro Light';
	font-weight: bold;
	color:#433F36;
}
ul{
	list-style: none;
	margin-right:30px;
}

.despre-imagine-cerc{
	border-radius: 50%;
	width: 120px;
	height: 120px;
	text-align: center;
	border:7px solid #DEAA43;
}
.despre-continut{
	font-family: 'Arabic Typesetting';
	font-size:25px;
	color:#6E6552;
}
.despre-continut-titlu{
	font-family: 'Arabic Typesetting';
	font-size:30px;
	color:#6E6552;
	font-weight: bold;
}
.despre-text{
	padding: 5px;
}
li{
	padding: 10px;
}
.despre-cine{
	text-align: left;
}
.despre-cine:hover .despre-continut{
	font-size:30px;
}
.despre-cine:hover .despre-continut-titlu{
	font-size:35px;
}
.despre-ce:hover .despre-continut{
	font-size:30px;
}
.despre-ce:hover .despre-continut-titlu{
	font-size:35px;
}
.despre-scop:hover .despre-continut{
	font-size:30px;
}
.despre-scop:hover .despre-continut-titlu{
	font-size:35px;
}
.despre-ce{

}
.despre-scop{
	text-align: right;
}
.facultate,.universitate{
	font-style: italic;
}
@media (max-width:700px){
	.despre-cine,.despre-ce,.despre-scop{
		text-align: center;
	}
	.despre-cine:hover .despre-text{
		background-color: white;
		-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
	}
	.despre-ce:hover .despre-text{
		background-color: white;
		-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
	}
	.despre-scop:hover .despre-text{
		background-color: white;
		-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
	}
}


/*---------echipa--------*/
.echipa{
	height: 700px;
	width: 100%;
	padding-top: 70px;
	margin:0px;
	text-align: center;
}
.echipa-titlu{
	font-size: 60px;
	font-family: 'Chaparral Pro Light';
	font-weight: bold;
	color:#433F36;
}
.echipa-subtitlu{
	padding-bottom: 50px;
	font-family: 'Arabic Typesetting';
	font-size:40px;
	color:#6E6552;
	text-align: center;
}
.echipa-imagine{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border:7px solid #DEAA43;
	background-color: red;
}
.logo{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.logo:hover{
	cursor:pointer;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F6B22B), to(#F6B22B));
    background-image: -webkit-linear-gradient(top, #F8D082, #F6B22B);
    background-image: -moz-linear-gradient(top, #F8D082, #F6B22B);
    background-image: -ms-linear-gradient(top, #F8D082, #F6B22B);
    background-image: -o-linear-gradient(top, #F8D082, #F6B22B);
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    border-width: 1px;
    border-style: solid;
    border-color: #FF8D00;
}
.logo:active{
	background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#FFD770));
    background-image: -webkit-linear-gradient(top, white, #FFD770);
    background-image: -moz-linear-gradient(top, white, #FFD770);
    background-image: -ms-linear-gradient(top, white, #FFD770);
    background-image: -o-linear-gradient(top, white, #FFD770);
}
.echipa-membru-titlu{
	padding: 10px;
	padding-bottom: 0px;
	font-family: 'Arabic Typesetting';
	font-size:40px;
	color:#6E6552;
	text-align: center;
}
.echipa-membru{
	float: left;
	width: 30%;
	margin:1%;
	margin-left:2%;
	padding-bottom: 50px;
}
@media (max-width:800px){
	.echipa{
		height: 1100px;
	}
	.echipa-membru{
		float: none;
		margin-left: 33%;
		margin-bottom: 10px;
	}
	.echipa-imagine{
		width: 150px;
		height: 150px;
	}
	.echipa-membru-titlu{
		font-size: 20px;
		font-weight: bold;
	}
}
@media (max-width:520px){
	.echipa{
		height: 1000px;
	}
	.echipa-imagine{
		width: 100px;
		height: 100px;
	}
	.echipa-subtitlu{
		font-size:30px;
	}
}
@media (max-width:450px){
	.echipa{
		height: 900px;
	}
	.echipa-imagine{
		width: 70px;
		height: 70px;
	}
	.logo{
		width: 20px;
		height: 20px;
	}
}

/*---------login--------*/
.login{
	background-color: #F3F0EA;
	height: 500px;
	width: 100%;
	padding-top: 150px;
	margin:0px;
	text-align: center;
	padding-bottom: 80px;
}
.login-titlu{
	font-size: 60px;
	font-family: 'Chaparral Pro Light';
	font-weight: bold;
	color:#433F36;
	padding-bottom: 30px;
}
@media (max-width:400px){
	.login-titlu{
		font-size: 40px;
	}
}
/*------signup-------*/
.signup-tot{
	height: 500px;
	width: 100%;
	padding-top: 150px;
	margin:0px;
	text-align: center;
	padding-bottom: 80px;
}
.signup-titlu{
	font-size: 60px;
	font-family: 'Chaparral Pro Light';
	font-weight: bold;
	color:#433F36;
	padding-bottom: 30px;
}
@media (max-width:400px){
	.signup-titlu{
		font-size: 40px;
	}
}
/*----multumire-----*/
.multumire{
	height: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
	background-color: #F3F0EA;
	text-align: center;
	background-image:url(./../Images/10.jpg);
	background-attachment:scroll;
	background-position:center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	-o-background-size:cover;
}
.multumire-titlu{
	padding-top: 50px;
	font-family: 'Arabic Typesetting';
	font-size:35px;
	font-weight: bold;
	padding-bottom: 40px;
	padding-right: 30px;
	padding-left: 30px;
	color:#433F36;
}

/*--------cont-creat----*/
.cont-creat{
	height: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
	text-align: center;
}
.creat-titlu{
	font-family: 'Chaparral Pro Light';
	color:#433F36;
	padding-top: 50px;
	font-size:45px;
	font-weight: bold;
	padding-bottom: 40px;
}
.creat-mesaj{
	padding-bottom: 50px;
	font-family: 'Arabic Typesetting';
	font-size:40px;
	color:#6E6552;
	text-align: center;
}
.creat-optiuni{
	font-family: 'Arabic Typesetting';
	font-size:25px;
	color:#6E6552;
}
/*-----------delogat--------*/
.delogat{
	height: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
	text-align: center;
}
.delogat-titlu{
	font-family: 'Chaparral Pro Light';
	color:#433F36;
	padding-top: 50px;
	font-size:45px;
	font-weight: bold;
	padding-bottom: 40px;
}
.delogat-mesaj{
	padding-bottom: 50px;
	font-family: 'Arabic Typesetting';
	font-size:40px;
	color:#6E6552;
	text-align: center;
}
.delogat-optiuni{
	font-family: 'Arabic Typesetting';
	font-size:25px;
	color:#6E6552;
}

/*----------copii----------*/
#onChildrenPage{
	height: auto;
	padding-top: 10px;
	padding-bottom: 50px;
	width: 97%;
	text-align: center;
	background-color: #F3F0EA;
	margin: 20px;
}
.copii-mesaj{
	font-family: 'Chaparral Pro Light';
	color:#433F36;
	font-size: 30px;
	font-weight: bold;
	padding: 20px 0px 30px 0px;
	text-align: left;
}
.copii-verificare{
	font-family: 'Arabic Typesetting';
	color:#6E6552;
	font-size: 25px;
	text-align: left;
	margin-left: 30px;
	padding-bottom: 10px;
	padding-top: 20px;
	font-weight: bold;
}
@media (max-width:550px){
	.copii-mesaj{
		font-size: 20px;
	}
}
.nume-copil-italic{
	font-style: italic;
}
.nume-copil-harta{
	text-align: left;
	font-family: 'Arabic Typesetting';
	color:#6E6552;
	font-size: 25px;
	margin-left: 20px;
	padding: 20px;
}
.lista-copii{
	text-align: left;
	font-family: 'Arabic Typesetting';
	color:#6E6552;
	font-size: 25px;
	margin-left: 20px;
}
.nume-copil{
	font-size: 30px;
	font-weight: bold;
}
#nav{
	text-align: right;
}
.adauga-copil{
	display: none;
}

#map{
	position: relative;
	width: 98%;
	height: 500px;
}

.inputs-copii
{
    background: #f1f1f1;
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 0;
    width: 150px; /* 353 + 2 + 45 = 400 */
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}
@media (max-width:750px){
	.inputs-copii{
		width: 80px
	}
	#nav button{
		padding: 10px 0px 10px 5px;
		width: 100px;
		font-size: 15px;
	}
	.cont.adauga-copil button{
		width: 100px;
		font-size: 15px;
	}
}
.inputs-copii:focus
{
    background-color: #fff;
    border-color: #FF8D00;
    border-width: 2px;
    outline: none;
    -moz-box-shadow: 0 0 2px 1px grey inset;
    -webkit-box-shadow: 0 0 2px 1px grey inset;
    box-shadow: 0 0 2px 1px grey inset;
}