#signup
{
    display: inline-block;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFE08D), to(#DDB753));
    background-image: -webkit-linear-gradient(top, #FFE08D, #DDB753);
    background-image: -moz-linear-gradient(top, #FFE08D, #DDB753);
    background-image: -ms-linear-gradient(top, #FFE08D, #DDB753);
    background-image: -o-linear-gradient(top, #FFE08D, #DDB753);
    height: 210px;
    width: 400px;
    text-align: center;
    padding: 30px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border:3px;
    border-color: red;
    box-shadow: 2px 3px 20px 1px grey;
}




fieldset
{
    border: 0;
    padding: 0;
    margin: 0;
}


#inputs-signup input
{
    background: #f1f1f1;
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 0;
    width: 353px; /* 353 + 2 + 45 = 400 */
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

#inputs-signup input:focus
{
    background-color: #fff;
    border-color: #FF8D00;
    border-width: 2px;
    outline: none;
    -moz-box-shadow: 0 0 2px 1px grey inset;
    -webkit-box-shadow: 0 0 2px 1px grey inset;
    box-shadow: 0 0 2px 1px grey inset;
}



#submit-signup
{		
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F6B22B), to(#F6B22B));
    background-image: -webkit-linear-gradient(top, #F8D082, #F6B22B);
    background-image: -moz-linear-gradient(top, #F8D082, #F6B22B);
    background-image: -ms-linear-gradient(top, #F8D082, #F6B22B);
    background-image: -o-linear-gradient(top, #F8D082, #F6B22B);
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    border-width: 1px;
    border-style: solid;
    border-color: #FF8D00;

    float: left;
    height: 35px;
    padding: 0;
    width: 120px;
    cursor: pointer;
    font-family: 'Chaparral Pro Light';
    font-size:15px;
    color:#433F36;
    margin-left: 33%;
    margin-top: 2%;
}

#submit-signup:active
{		
     outline: none;
   
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;   		
}


@media (max-width:500px){
    #signup{
        width: 300px;
    }
    #inputs-signup input{
        width: 253px;
    }
    #submit-signup{
        margin-left: 25%;
    }
}
@media (max-width:400px){
    #signup{
        width: 200px;
    }
    #inputs-signup input{
        width: 153px;
    }
    #submit-signup{
        margin-left: 25%;
        width: 90px;
    }
}