#loginbody{
    display: inline-block;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFE08D), to(#DDB753));
    background-image: -webkit-linear-gradient(top, #FFE08D, #DDB753);
    background-image: -moz-linear-gradient(top, #FFE08D, #DDB753);
    background-image: -ms-linear-gradient(top, #FFE08D, #DDB753);
    background-image: -o-linear-gradient(top, #FFE08D, #DDB753);
    height: 180px;
    width: 400px;
    text-align: center;
    padding: 30px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border:3px;
    border-color: red;
    box-shadow: 2px 3px 20px 1px grey;
} 

#inputs-login input
{
    background: #f1f1f1;
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 0;
    width: 353px; /* 353 + 2 + 45 = 400 */
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

#inputs-login input:focus
{
    background-color: #fff;
    border-color: #FF8D00;
    border-width: 2px;
    outline: none;
    -moz-box-shadow: 0 0 2px 1px grey inset;
    -webkit-box-shadow: 0 0 2px 1px grey inset;
    box-shadow: 0 0 2px 1px grey inset;
}

#submit-login,#buton-login
{   
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F6B22B), to(#F6B22B));
    background-image: -webkit-linear-gradient(top, #F8D082, #F6B22B);
    background-image: -moz-linear-gradient(top, #F8D082, #F6B22B);
    background-image: -ms-linear-gradient(top, #F8D082, #F6B22B);
    background-image: -o-linear-gradient(top, #F8D082, #F6B22B);
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    border-width: 1px;
    border-style: solid;
    border-color: #FF8D00;

    float: left;
    height: 35px;
    padding: 0;
    width: 120px;
    cursor: pointer;
    font-family: 'Chaparral Pro Light';
    font-size:15px;
    color:#433F36;
    margin-left: 13%;
    margin-top: 5%;
}
#submit-login:active,#buton-login:active
{   
    outline: none;
    border: 1px solid grey;
    font-weight: bold;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;    
}
#submit-login:hover,#buton-login:hover{
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FADF98), to(#F7D272));
  background-image: -webkit-linear-gradient(top, #FADF98, #F7D272);
  background-image: -moz-linear-gradient(top, #FADF98, #F7D272);
  background-image: -ms-linear-gradient(top, #FADF98, #F7D272);
  background-image: -o-linear-gradient(top, #FADF98, #F7D272);
}

@media (max-width:500px){
    #loginbody{
        width: 300px;
    }
    #inputs-login input{
        width: 253px;
    }
    #submit-login,#buton-login{
        margin-left: 6%;
    }
}
@media (max-width:400px){
    #loginbody{
        width: 200px;
    }
    #inputs-login input{
        width: 153px;
    }
    #submit-login,#buton-login{
        margin-left: 3%;
        width: 90px;
    }
}